{
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "arrowParents": "avoid",
    "trailingComma": "es5",
    "semi": false
}
